
/*  Reminder ed : Start all css like this to not have to bugger up different browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px; 
  margin: 0 auto;    /* to centre it all */
  padding: 0 20px;   /* spacing from sides */
}

body {
  font-family: sans-serif;
  color: dimgrey;
}

/*  This is altering the nav bar Ed */
.myNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 40px;
 }

 .navLinks {
    display: flex;
    gap: 20px;
}

.navLinks a {
  text-decoration: none; 
  color:greenyellow; 
  font-weight: 500;
  font-family: sans-serif;
  transition: all 1s linear;
}


.navLinks a:hover {
  color: black;
  cursor: crosshair;
}

.skin {
  text-align: center;
  padding: 20px;
}
/*  This is the picture */
.mountain {
  width: 80%;  
  max-width: 900px;
  height: auto; 
  display: flex;
  margin: 0 auto; 
}

.btnOne, .btnTwo {
  background-color: rgb(144, 46, 46);
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  border-radius: 5px;
  cursor:crosshair;
}

.btnOne:hover, .btnTwo:hover {
  background-color: darkgray;
}

/*  Exercise 5. Use media queries to make the navbar bugger off 
when the size of the screen  is lower than 480px (mobile)*/

@media (max-width:480px) {
    .navLinks {
        display: none;
    }
}

/*  When the screen is larger than 480px (min-width) and smaller than 768px, 
(max-width) the menu should show up on the side, not the top.*/

@media (min-width: 480px) and (max-width: 768px) {
  .navLinks {
    display: flex;
    flex-direction: column; /* stack links vertically */
    align-items: flex-start; /* align to the left side */
    position: fixed; /* stick it to the side */
    right: 0;
    left: auto;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
  }

  .navLinks a {
    display: block;
    margin: 10px 0;
  }
}